$enable-shadows: true;

$primary-color: #fff;
$secondary-color: #16161d;
$custom-color-1: #faedcb;
$custom-color-2: #98d2c5;
$custom-color-3: #4f9585;

$bg-opacity: alpha(opacity=20);

$main-font: "Open Sans", sans-serif;
