@import "bootstrap/dist/css/bootstrap.css";

$enable-shadows: true;

$primary: teal;
$secondary: green;

$primary-color: #fff;
$secondary-color: #16161d;

$custom-color-1: #de703c;
$custom-color-2: #506f86;
$custom-color-3: #2f3c4f;
$custom-color-4: #fbb040;

$bg-opacity: alpha(opacity=20);

$main-font: "Open Sans", sans-serif;
