.form-control {
  border-radius: 0.5rem 0 0 0.5rem;
  border-color: $custom-color-2;
}

.form-control:hover {
  border-radius: 0.5rem 0 0 0.5rem;
  border-color: $custom-color-3;
}

.form-control:focus {
  border-radius: 0.5rem 0 0 0.5rem;
  border-color: $custom-color-3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $custom-color-3;
}
